body {
  font-size: 12px;
  color: darkgray;
  max-width: 800px;
  margin: auto;
}
select {
    font-size: 12px;
    color: darkgray;
}
textarea {
    font-size: 12px;
    color: darkgray;
}
h1 {
    font-size: 50px;
    text-align: center;
}
ul.menu li > a {
    text-decoration: none;
    color: white;
    background-color: blue;
}
input {
    font-size: 12px;
    color: darkgray;
    width: 400px;
}
input[type="radio"], input[type="submit"] {
    width: auto;
}
ul.menu {
    list-style-type: none;
    padding-left: 0;
}
li.menuitem {
    display: inline-block;
    margin-right: 1mm;
}
footer {
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: right;
}
label.form {
    width: 200px;
    display: inline-block;
}
span.error {
    color: red;
}